/* ---------- GLOBAL ---------- */
body {
    margin: 0;
    padding: 0;
    background-color: #3B1D14;
    color: #F5E6CC;
    font-family: 'Poppins', sans-serif;
}

a { text-decoration: none; color: #3B1D14; }

/* ---------- NAVBAR ---------- */
.navbar {
    background-color: #D7B899;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Italianno', cursive;
    font-size: 65px;
    color: #3B1D14;
    margin: 0;
}

.nav-links a {
    margin-left: 40px;
    font-size: 18px;
    color: #3B1D14;
}

/* ---------- HERO SECTION ---------- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 120px;
    min-height: 550px;
    background-color: #5A2E1F;  
}


.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-line {
    font-size: 26px;
    width: 300px;
    line-height: 1.6;
}

.hero-buttons {
    margin-top: 20px;
}

.btn-signin {
    background-color: #E0B973;
    padding: 10px 30px;
    border: none;
    font-size: 18px;
    margin-right: 20px;
    cursor: pointer;
    color: #3B1D14;
}

.btn-login {
    background: transparent;
    border: 1.5px solid #E0B973;
    padding: 10px 30px;
    color: #E0B973;
    font-size: 18px;
    cursor: pointer;
}

.logo-rectangle {
    width: 450px;
    height: 450px;
    background-color: #5A2E1F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-logo {
    width: 750px;
    height:700px;

}

/* ---------- MID LINE ---------- */
.mid-line {
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 20px;
    text-align: center;
}

/* ---------- FEATURE SECTIONS ---------- */
.feature-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px;
}

.feature-image img {
    width: 300px;
    border-radius: 18px;
}

.feature-text {
    width: 430px;
    font-size: 18px;
    line-height: 1.7;
}

/* ---------- ABOUT SECTION ---------- */
.about-section {
    padding: 120px 120px;
}

.about-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-section p {
    width: 480px;
    line-height: 1.7;
}

/* ---------- FOOTER ---------- */
.footer {
    padding: 60px 60px;
    position: relative;
}

.footer-links {
    position: absolute;
    right: 60px;
    top: 20px;
}

.footer-links a {
    margin-left: 20px;
    color: #F5E6CC;
    font-size: 16px;
}

.footer p {
    text-align: center;
    margin-top: 80px;
}

/* ---------- SCROLL ANIMATIONS ---------- */
.fade-in-section {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.delay-1 {
    transition-delay: 0.3s;
}

/* ---------- SMOOTH SCROLL ---------- */
html {
    scroll-behavior: smooth;
}
